[submodule "src/poky"]
	path = src/poky
	url = http://git.yoctoproject.org/cgit/cgit.cgi/poky
[submodule "src/meta-openembedded"]
	path = src/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "src/meta-raspberrypi"]
	path = src/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi
[submodule "src/meta-qt5"]
	path = src/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "src/meta-kde-demo"]
	path = src/meta-kde-demo
	url = https://invent.kde.org/packaging/yocto-meta-kde-demo.git
[submodule "src/meta-kf5"]
	path = src/meta-kf5
	url = git@invent.kde.org:packaging/yocto-meta-kf5.git
